
@using Model.EF
@model IEnumerable<Product>
<h2>Sản phẩm liên quan</h2>
@foreach (var item in Model)
{
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="@Url.Action("ProductDetail","Home",new { @ProductID=item.ID,@CategoryID = item.CategoryID})">
                        <img src="@Url.Content("~/Content/images/AnhSanPham/"+item.Image)" alt="" />
                    </a>
                    <h2>@string.Format("{0:0,0}", Convert.ToInt32(item.Price)) VNĐ</h2>

                    @if (item.Name.Length > 25)
                    {
                        <p>@item.Name.Substring(0, 25)...</p>
                    }
                    else
                    {
                        <p>@item.Name</p>
                    }
                    @if (item.Status == true)
                    {
                        <a href="@Url.Action("AddNewItem","ShoppingCart",new {@ProductID=item.ID,@quantity=1})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Hết hàng</a>
                    }
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="@Url.Action("ProductDetail","Home",new {@ProductID=item.ID,@CategoryID= item.CategoryID})"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
